{% extends 'base.html' %}

{% block title %}
Shop
{% endblock title %}


{% block content %}
{% load static %}
<div class="page-holder">
    <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">Shop</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'main:home' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Shop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container p-0">
                <div class="row">
                    <!-- SHOP SIDEBAR-->
                    <div class="col-lg-3 order-2 order-lg-1">
                        <h5 class="text-uppercase mb-4">Categories</h5>
                        <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase fw-bold">U
                            FIND
                            ANYTHING</strong></div>
                        <ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal">
                            {% for category in categories %}
                            <li class="mb-2"><a class="reset-anchor" href="{% url 'shop:shop' %}?category={{ category.slug }}">{{ category.title }}</a></li>
                            <!-- НЕ НАЖИМАЙТЕ CTRL + ALT + L. НЕ ТО КОД СМЕСТИТСЯ ТАК, ЧТО СТРОЧКА ВЫШЕ НЕ БУДЕТ РАБОТАТЬ!!! -->
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- SHOP LISTING-->
                    <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                        <div class="row mb-3 align-items-center">
                            <div class="col-lg-6">
                                <form action="{% url 'shop:shop' %}" method="get">
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="search"
                                               placeholder="Поиск товаров..." value="{{ request.GET.search }}">
                                        <button class="btn btn-dark" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <!-- PRODUCT-->
                            {% for product in products %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="product text-center">
                                    <div class="mb-3 position-relative">
                                        <div class="badge text-white bg-"></div>
                                        <a class="d-block" href="{% url 'shop:product_detail' product.slug %}"><img class="img-fluid w-100"
                                                                                   src="{{ product.preview.url }}"
                                                                                   alt="..."></a>
                                        {% if request.user.is_authenticated %}
                                        <div class="product-overlay">
                                            <ul class="mb-0 list-inline">
                                                {% if product in request.user.wishlist.product.all %}
                                                <li class="list-inline-item m-0 p-0"><a
                                                        class="btn btn-sm btn-outline-dark" href="{% url 'shop:wishlist-add-or-remove' product.slug %}"><i
                                                        class="fas fa-heart text-danger"></i></a>
                                                </li>
                                                {% else %}
                                                <li class="list-inline-item m-0 p-0"><a
                                                        class="btn btn-sm btn-outline-dark" href="{% url 'shop:wishlist-add-or-remove' product.slug %}"><i
                                                        class="far fa-heart"></i></a>
                                                </li>
                                                {% endif %}
                                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                                        href="{% url 'shop:add-to-cart' product.slug %}">Add to cart</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <h6><a class="reset-anchor" href="{% url 'shop:product_detail' product.slug %}">{{ product.title }}</a></h6>
                                    <p class="small text-muted">${{ product.price }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- PAGINATION-->
                        {% if products.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center justify-content-lg-end">
                                {% if products.has_previous %}
                                <li class="page-item mx-1"><a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous"><span
                                        aria-hidden="true">«</span></a></li>
                                {% endif %}

                                {% for page in products.paginator.page_range %}

                                {% if page == products.number %}
                                <li class="page-item mx-1 active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                <li class="page-item mx-1"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}

                                {% endfor %}

                                {% if products.has_next %}
                                <li class="page-item ms-1"><a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next"><span
                                        aria-hidden="true">»</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}