{% extends 'base.html' %}

{% block title %}
Home | ©️
{% endblock title %}

{% block content %}
{% load static %}
<body>
<div class="page-holder">

    <!--  Modal -->
    <div class="modal fade" id="productView" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content overflow-hidden border-0">
                <button class="btn-close p-4 position-absolute top-0 end-0 z-index-20 shadow-0" type="button"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body p-0">
                    <div class="row align-items-stretch">
                        <div class="col-lg-6 p-lg-0"><a class="glightbox product-view d-block h-100 bg-cover bg-center"
                                                        style="background: url({% static 'img/product-5.jpg)"
                                                        href="{% static 'images/product-5.jpg' %}"
                                                        data-gallery="gallery1"
                                                        data-glightbox="Red digital smartwatch"></a><a
                                class="glightbox d-none" href="{% static 'images/product-5-alt-1.jpg' %}"
                                data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a><a
                                class="glightbox d-none" href="{% static 'images/product-5-alt-2.jpg' %}"
                                data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a></div>
                        <div class="col-lg-6">
                            <div class="p-4 my-md-4">
                                <ul class="list-inline mb-2">
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                    <li class="list-inline-item m-0 1"><i class="fas fa-star small text-warning"></i>
                                    </li>
                                    <li class="list-inline-item m-0 2"><i class="fas fa-star small text-warning"></i>
                                    </li>
                                    <li class="list-inline-item m-0 3"><i class="fas fa-star small text-warning"></i>
                                    </li>
                                    <li class="list-inline-item m-0 4"><i class="fas fa-star small text-warning"></i>
                                    </li>
                                </ul>
                                <h2 class="h4">Red digital smartwatch</h2>
                                <p class="text-muted">$250</p>
                                <p class="text-sm mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut
                                    ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis
                                    parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam
                                    convallis.</p>
                                <div class="row align-items-stretch mb-4 gx-0">
                                    <div class="col-sm-7">
                                        <div class="border d-flex align-items-center justify-content-between py-1 px-3">
                                            <span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                                            <div class="quantity">
                                                <button class="dec-btn p-0"><i class="fas fa-caret-left"></i></button>
                                                <input class="form-control border-0 shadow-0 p-0" type="text" value="1">
                                                <button class="inc-btn p-0"><i class="fas fa-caret-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5"><a
                                            class="btn btn-dark btn-sm w-100 h-100 d-flex align-items-center justify-content-center px-0"
                                            href="cart.html">Add to cart</a></div>
                                </div>
                                <a class="btn btn-link text-dark text-decoration-none p-0" href="#!"><i
                                        class="far fa-heart me-2"></i>Add to wish list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HERO SECTION-->

    <div class="container">
        {% if discount %}
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
                 style="background: url({{ discount.image.url }})">
            <div class="container py-5">
                <div class="row px-4 px-lg-5">
                    <div class="col-lg-6">
                        <p class="text-muted small text-uppercase mb-2">{{ discount.short_description }}</p>
                        <h1 class="h2 text-uppercase mb-3">{{ discount.main_text }}</h1><a class="btn btn-dark"
                                                                                           href="{% url 'shop:shop' %}">Browse
                        collections</a>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!-- CATEGORIES SECTION-->
        <section class="pt-5">
            <header class="text-center">
                <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
                <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
            </header>
            <div class="row">
                {% for category in categories %}
                <div class="col-md-4" ><a class="category-item"
                                         href="{% url 'shop:shop' %}?category={{ category.slug }}"><img
                        class="img-fluid w-200 object-fit-cover"
                        src="{{ category.image.url }}"
                        style="height: 200px;"
                        alt=""/><strong
                        class="category-item-title">{{ category.title }}</strong></a>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
            <header>
                <h2 class="h5 text-uppercase mb-4">OUR PRODUCTS</h2>
            </header>
            <div class="row">
                <!-- PRODUCT-->
                {% for product in products %}
                <div class="col-lg-4 col-sm-6">
                    <div class="product text-center">
                        <div class="mb-3 position-relative">
                            <div class="badge text-white bg-"></div>
                            <a class="d-block" href="{% url 'shop:product_detail' product.slug %}"><img
                                    class="img-fluid w-80 object-fit-cover"
                                    src="{{ product.preview.url }}"
                                    style="height: 160px;"
                                    alt="..."></a>
                            {% if request.user.is_authenticated %}
                            <div class="product-overlay">
                                <ul class="mb-0 list-inline">
                                    {% if product in request.user.wishlist.product.all %}
                                    <li class="list-inline-item m-0 p-0"><a
                                            class="btn btn-sm btn-outline-dark" href="{% url 'shop:wishlist-add-or-remove' product.slug %}"><i
                                            class="fas fa-heart text-danger"></i></a>
                                    </li>
                                    {% else %}
                                    <li class="list-inline-item m-0 p-0"><a
                                            class="btn btn-sm btn-outline-dark" href="{% url 'shop:wishlist-add-or-remove' product.slug %}"><i
                                            class="far fa-heart"></i></a>
                                    </li>
                                    {% endif %}
                                    <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                            href="{% url 'shop:add-to-cart' product.slug %}">Add to cart</a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        <h6><a class="reset-anchor" href="{% url 'shop:product_detail' product.slug %}">{{ product.title }}</a></h6>
                        <p class="small text-muted">${{ product.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if products.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center justify-content-lg-end">
                    {% if products.has_previous %}
                    <li class="page-item mx-1"><a class="page-link" href="?page={{ products.previous_page_number }}"
                                                  aria-label="Previous"><span
                            aria-hidden="true">«</span></a></li>
                    {% endif %}

                    {% for page in products.paginator.page_range %}

                    {% if page == products.number %}
                    <li class="page-item mx-1 active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item mx-1"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}

                    {% endfor %}

                    {% if products.has_next %}
                    <li class="page-item ms-1"><a class="page-link" href="?page={{ products.next_page_number }}"
                                                  aria-label="Next"><span
                            aria-hidden="true">»</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </section>
        <!-- SERVICES-->
        <section class="py-5 mb-5 bg-light">
            <div class="container">
                <div class="row text-center gy-3">
                    <div class="col-lg-4">
                        <div class="d-inline-block">
                            <div class="d-flex align-items-end">
                                <svg class="svg-icon svg-icon-big svg-icon-light">
                                    <use xlink:href="#delivery-time-1"></use>
                                </svg>
                                <div class="text-start ms-3">
                                    <h6 class="text-uppercase mb-1">Free shipping</h6>
                                    <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-inline-block">
                            <div class="d-flex align-items-end">
                                <svg class="svg-icon svg-icon-big svg-icon-light">
                                    <use xlink:href="#helpline-24h-1"></use>
                                </svg>
                                <div class="text-start ms-3">
                                    <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                                    <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-inline-block">
                            <div class="d-flex align-items-end">
                                <svg class="svg-icon svg-icon-big svg-icon-light">
                                    <use xlink:href="#label-tag-1"></use>
                                </svg>
                                <div class="text-start ms-3">
                                    <h6 class="text-uppercase mb-1">Festivaloffers</h6>
                                    <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</div>
</body>
{% endblock content %}