{% load static %}
<header class="header bg-white">
    <div class="container px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand"
                                                                          href="{% url 'main:home' %}"><span
                class="fw-bold text-uppercase text-dark">Boutique</span></a>
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- Link--><a class="nav-link active" href="{% url 'main:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <!-- Link--><a class="nav-link" href="{% url 'shop:shop' %}">Shop</a>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#"
                                                     data-bs-toggle="dropdown" aria-haspopup="true"
                                                     aria-expanded="false">Pages</a>
                        <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown"><a
                                class="dropdown-item border-0 transition-link" href="{% url 'main:home' %}">Homepage</a><a
                                class="dropdown-item border-0 transition-link" href="{% url 'shop:shop' %}">Category</a>
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item border-0 transition-link" href="{% url 'checkout:cart_detail' %}">Shopping
                            cart</a>
                            <a class="dropdown-item border-0 transition-link" href="{% url 'checkout:checkout' %}">Checkout</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'checkout:cart_detail' %}"> <i
                            class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:wishlist' %}"> <i
                            class="far fa-heart me-1"></i></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">
                            <i class="fas fa-sign-out-alt me-2"></i>Выйти
                        </a>
                    </li>
                    {% endif %}

                    {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:registration' %}"> <i
                            class="fas fa-user me-1 text-gray fw-normal"></i>Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}"> <i
                            class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>